@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "../node_modules/bootstrap/scss/bootstrap";

@import 'things-to-do';

$primary-black: #111111;
$secondary-black: #484848;
$gray: #DADADA;

$font-family-header: 'Cinzel', serif;
$font-family-body: 'Raleway', sans-serif;

@mixin bold-600 {
    font-weight: 600;
}

%margin-vertical-components {
    div, .btn, img {
        margin-bottom: 1rem;
    }
}

%flexbox-row {
    display: flex;
    flex-direction: row;
}

%flexbox-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flexbox-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flexbox-row-center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

body {
    font-family: $font-family-body;
}

.container-fluid {
    padding: 0;
}


.header {
    color: $primary-black !important;
    font-family: $font-family-header;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.navbar {
    background-color: #FFFFFF;
    border-style: solid;
	border-color: transparent;
	border-width: 0 0 0.1rem 0;
    box-shadow: 0 0 0.5rem 0 $gray;

    .navbar-toggler:focus {
        box-shadow: 0 0 0 1px;
    }

    .d-flex {
        max-width: 15rem;
    }

    .language-select {
        @extend %flexbox-row;
        justify-content: center;
        align-items: center;

        .icon {
            color: $secondary-black;
            margin-right: 0.35rem;
        }

        .languages {
            @extend %flexbox-row;
            justify-content: space-between;
            align-items: center;

            max-width: 3rem;
            width: 100%;

            .nav-item {
                margin: 0;
            }
        }
    }
}

.photos-link {
    color: #FFFFFF;
}

.photos-link:hover {
    color: #FFFFFF;
}

.home-section {
    @extend %flexbox-column;
    justify-content: center;
    align-items: center;

    @extend %margin-vertical-components;

    margin: 3rem 0;
    padding: 0 1rem;
    text-align: center;

    .home-date-location {
        color: $secondary-black;
    }

    img {
        border: solid 0.5rem #FFFFFF;
        box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
        height: auto;
        max-width: 30rem;
        transform: rotate(3deg);
        width: 100%;
    }
}

.ceremony-section {
    @include flexbox-column-center;

    background-image: url('/catedral.webp');
    background-position: 45% 0%;
    background-repeat: no-repeat;
    height: 30rem;
    text-align: center;
    width: 100%;

    .ceremony-text {
        color: $secondary-black;
        margin-bottom: 1rem;
    }
}

.venue-section {
    @extend %flexbox-column;

    // background-color: $primary-black;
    // margin: 2rem 0;
    height: 22rem;
    position: relative;
    text-align: center;

    span {
        @include bold-600;
    }

    img {
        height: auto;
        max-width: 50rem;
        width: 100%;
    }

    .venue-text {
        @extend %margin-vertical-components;

        color: $secondary-black;
    }
}

.travel-information-section {
    @include flexbox-column-center;

    background-color: #111111;
    color: $white;
    position: relative;

    .header {
        color: #FFFFFF !important;
        text-align: center;
    }

    .btn {
        max-width: 25rem;
        width: 100%;
    }

    .travel-information-body {
        margin: 8rem 0;
    }

    .row {
        @extend %flexbox-column;
        align-items: center;
        justify-content: center;
        margin: 0;

        .col-xs-1 {
            display: flex;
            justify-content: center;
            align-items: stretch;
        }

        .card {
            background-color: transparent;
            border: none;
            flex: auto;
            margin-bottom: 3rem;
            max-width: 50rem;
            text-align: center;
            width: 100%;
        }

        .card-body {
            @extend %flexbox-column;
            align-items: center;
            justify-content: space-between;

            padding: 1rem 0;
        }
    }

    .travel-information-accordion {
        a {
            color: $white;
            font-weight: 700;
        }

        max-width: 50rem;
        width: 100%;

        .accordion-item {
            background-color: transparent;
            border-bottom-color: $white;
        }

        .accordion-button {
            background-color: $primary-black;
            color: $white;
        }
    }

    .custom-shape-divider-top-1626207047 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }
    
    .custom-shape-divider-top-1626207047 svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 90px;
        transform: rotateY(180deg);
    }
    
    .custom-shape-divider-top-1626207047 .shape-fill {
        fill: #FFFFFF;
    }

    .custom-shape-divider-bottom-1626205541 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }
    
    .custom-shape-divider-bottom-1626205541 svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 90px;
    }
    
    .custom-shape-divider-bottom-1626205541 .shape-fill {
        fill: #FFFFFF;
    }
}

.faqs-section {
    @include flexbox-column-center;

    position: relative;
    text-align: center;

    margin: 3rem 0;

    .faq-body {
        max-width: 50rem;
        padding: 0 1rem;
    }

    .faq-body:not(:last-child) {
        margin-bottom: 2rem;
    }

    .faq-question {
        @include bold-600;

        color: $primary-black;
        margin: 0 0 0.5rem 0;
    }

    .faq-answer {
        color: $secondary-black;
    }
}

.contact-us-section {
    @extend %flexbox-column;

    color: $secondary-black;
    text-align: center;

    margin: 3rem 0;

    .contact-us-body {
        div:not(:last-child), .btn {
            margin-bottom: 2rem;
        }

        max-width: 50rem;
        padding: 0 1rem;
    }

    .contact-us-individual {
        a {
            color: $secondary-black !important;
            margin-right: 1rem;
        }
    }
}

// Footer
.footer {
    background-color: #303030;

    .container {
        color: #c5c5c5;
        font-size: 0.85rem;
        padding: 4rem 4rem;
        text-align: center;
        
        /* Flexbox */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

#footer-header {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.footer-text {
    display: none;
}

.social-media-icons {
    margin-bottom: 2rem;

    display: flex;
    flex-direction: row;
    align-items: center;

}

.social-media-icons .far {
    margin-right: 0;
}

.social-media-icons span:not(:last-child) {
    margin-right: 2rem;
}

.footer a {
    color: #c5c5c5;
	transition: color 0.2 ease-out;
	-webkit-transition: color 0.2s ease-out;
}

.footer a:hover {
	color: #ffffff;
}

.fa-lg {
    transition: transform 0.4 ease-in-out;
	-webkit-transition: transform 0.4s ease-in-out;
}

.fa-lg:hover {
    transform: translateY(-6px);
}

.copyright-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.copyright-icon {
    font-size: 0.40rem;
    margin-right: 0.25rem;
}

.subpage-section {
    margin: 3rem 0;

    .section {
        margin-bottom: 2rem;
    }

    .body {
        color: $secondary-black;
        max-width: 50rem;
        width: 100%;
    }

    .table {
        color: $secondary-black;
    }

    .go-back-button {
        color: $secondary-black;
        text-decoration: none;
        transition: color 0.2 ease-out;
	    -webkit-transition: color 0.2s ease-out;
    }

    .go-back-button:hover {
        color: $primary-black;
    }
    
    .go-back-icon {
        margin-right: 0.5rem;
    }
}

// Mobile screen
@media screen and (max-width: 960px) {
    .ceremony-section {
        background-position: 52% 0%;
        background-size: cover;
    }
}

// Desktop
@media screen and (min-width: 960px) {
    .nav-item:not(:last-child) {
        margin-right: 1rem;
    }

    .ceremony-section {
        height: 33rem;
    }
}